#main{
    margin:5%;
}
a{
    text-decoration: none;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    box-shadow: 0px 0px 15px 0px grey;   
}

a:hover{/*effet flottant*/
    z-index: 2;
    & ~ .nuage{
        visibility: visible;
        opacity: 0.6;
    }
}

.nuage{/*dive vide pour l'effet flottant*/
    background-color: white;
    opacity: 0;
    top:0vh;
    bottom: 0vh;
    right: 0vw;
    left: 0vw;
    position: fixed;
    visibility: hidden;
    -webkit-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
}

.first, .second, .third, .fourth{/*l'effet zoom*/
    -webkit-transition: all 2s ease-in;
    -webkit-transform: scale(1);
        &:hover{
            -webkit-transition: all 2s ease-in;
            -webkit-transform: scale(1.1);
        }
}
 
.menu-part1 , .menu-part2 {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
          @media screen and (min-width: 700px) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        -webkit-box-pack: justify;
                justify-content: space-evenly;
                margin-bottom: 30px;
    }
}
.menu1 , .menu2 , .menu3 , .menu4 {
    height: 600px;
    width: 480px;
    text-align: center;
    margin-bottom: 40px;
    @media only screen and (min-device-width : 480px) and (max-device-width : 700px) {
            width: unset;
            margin: 20px 10px;
            }
    @media only screen and (max-width : 480px) {
            width: 420px;
            margin: 20px 10px;
            }
}

.menu1{
    background-color: #fcdfdb;
    color: #3C1218;
    font-family: 'kaushan_scriptregular';
        p , h1 ,i {
            margin: 0px;
        }
        p , i{
            font-size: 50px ;
        }
        h1{
            font-size: 40px;
        }
        .fa-music:before{
            background: -webkit-linear-gradient(100deg, #F78F6A 40%, #F04A5E 60%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
}
.menu2{
    background-color: #fff5fe;
    color:#C77412;
        h1{
            background: -webkit-linear-gradient(135deg, #6E4CCC 20%, #E38913 80%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: 'Croissant One', cursive;
            font-size: 35px;
            margin-bottom: 0px;
        }
        p{
            margin: 0px;
            font-size: 50px;
        }
}
.menu3{
    background-color: #f9f9f9;
    color:#0887FD;
    font-family: 'dancing_script_otregular';
        h1{
            background: -webkit-linear-gradient(135deg, #0887FD 20%, #0431DF 80%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 50px;
            margin-bottom: 0px;
        }
        p{
            margin: 0px;
            font-size: 50px;
        }
}
.menu4{
    background-color: #fdfffd;
    color:#C0FD87;
    font-family: 'kaushan_scriptregular';
        h1{
            background: -webkit-linear-gradient(135deg, #C0FD87 20%, #3D9339 80%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 50px;
            margin-bottom: 0px;
        }
        p{
            margin: 0px;
            font-size: 50px;
        }
}