
.prochain{
    position: relative;     
}
.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #579c87;
    color: #fdcb46;
    font-size: 40px;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: 2px solid #a1c181;
    margin-bottom: 150px;
        p{
            margin: 0px;
            padding: 10px 50px;
        }
        span{/*Animation progressive*/
            padding: 5px;
            animation: fadeout 2s infinite;
            -moz-animation: fadeout 2s infinite; /* Firefox */
            -webkit-animation: fadeout 2s infinite; /* Safari et Chrome */
            -o-animation: fadeout 2s infinite; /* Opera */
            margin-left: 10px;
                &:nth-child(2) {
                  -webkit-animation-delay: 0.6s;
                  animation-delay: 0.6s; }
                &:nth-child(3) {
                  -webkit-animation-delay: 1.2s;
                  animation-delay: 1.2s; }
        }
}